@tailwind base;
@tailwind components;
@tailwind utilities;

/*@media (prefers-color-scheme: dark)*/

*::selection {
   background-color: #EF4444;
   color: #F4F4F5;
}

@layer base {
   @font-face {
      font-family: "Poppins";
      font-weight: 100;
      src: url("/fonts/Poppins/Thin.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 100;
      src: url("/fonts/Poppins/ThinItalic.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 200;
      src: url("/fonts/Poppins/ExtraLight.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 200;
      src: url("/fonts/Poppins/ExtraLightItalic.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 300;
      src: url("/fonts/Poppins/Light.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 300;
      src: url("/fonts/Poppins/LightItalic.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 400;
      src: url("/fonts/Poppins/Regular.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 500;
      src: url("/fonts/Poppins/Medium.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 500;
      src: url("/fonts/Poppins/MediumItalic.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 600;
      src: url("/fonts/Poppins/SemiBold.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 600;
      src: url("/fonts/Poppins/SemiBoldItalic.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 700;
      src: url("/fonts/Poppins/Bold.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 700;
      src: url("/fonts/Poppins/BoldItalic.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 800;
      src: url("/fonts/Poppins/ExtraBold.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 800;
      src: url("/fonts/Poppins/ExtraBoldItalic.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 900;
      src: url("/fonts/Poppins/Black.ttf");
   }
   @font-face {
      font-family: "Poppins";
      font-weight: 900;
      src: url("/fonts/Poppins/BlackItalic.ttf");
   }
   br {
     @apply my-0.5;
   }
}

.img-gradient {
   -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
   mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

/* NAVBAR */
.navbar {
   @apply w-full h-16 border-b border-zinc-300 dark:border-zinc-700 flex justify-center dark:bg-zinc-950 fixed bg-zinc-200 top-0 z-50;
}
.navbar-active {
   @apply pb-[4px] pt-[5px] after:text-red-500 after:block after:my-0 after:mx-auto after:border-b after:border-red-500 text-red-500;
}